<div class="bg">
  <div class="hero">
    <div class="form-box">
      <div class="button-box">
        <div id="btn" [ngClass]="{ 'login': isLogin, 'register': !isLogin }"></div>
        <button type="button" class="toggle-btn" (click)="toggleLogin()">Log In</button>
        <button type="button" class="toggle-btn" (click)="toggleRegister()">Register</button>
      </div>
      <div class="social-icon">
        <img src="./assets/img/fb.png" alt="Facebook">
        <img src="./assets/img/tw.png" alt="Twitter">
        <img src="./assets/img/gp.png" alt="Google Plus">
      </div>

      <!-- Login Form -->
      <form *ngIf="isLogin" id="login" class="input-group" (ngSubmit)="validateLoginForm()">
        <input type="text" class="input-field" [(ngModel)]="email" name="email" placeholder="Enter Email ID" required>
        <input type="password" id="loginPassword" class="input-field" [(ngModel)]="password" name="password"
          placeholder="Enter Password" required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&])[A-Za-z\\d@$!%*?&]{8,}$" #loginPassword="ngModel">
        <input type="checkbox" class="check-box"><span>Remember Password</span>
        <button type="submit" class="submit-btn">Log In</button>
      </form>

      <!-- Register Form -->
      <form *ngIf="!isLogin" id="register" class="input-group" (ngSubmit)="validateRegisterForm()">
        <input type="text" class="input-field" placeholder="Enter Name" required>
        <input type="email" class="input-field" [(ngModel)]="email" name="email" placeholder="Enter Email Id" required>
        <input type="password" id="registerPassword" class="input-field" [(ngModel)]="password" name="password"
          placeholder="Enter Password" required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&])[A-Za-z\\d@$!%*?&]{8,}$" #registerPassword="ngModel">
        <input type="checkbox" class="check-box"><span>I agree to the terms & conditions </span>
        <button type="submit" class="submit-btn">Register</button>
      </form>
    </div>
  </div>
</div>
